@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8tcmbc');
  src:  url('fonts/icomoon.eot?8tcmbc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8tcmbc') format('truetype'),
    url('fonts/icomoon.woff?8tcmbc') format('woff'),
    url('fonts/icomoon.svg?8tcmbc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e908";
}
.icon-code_badge:before {
  content: "\e909";
}
.icon-database:before {
  content: "\e90a";
}
.icon-backend:before {
  content: "\e90b";
  /*color: #37474f;*/
}
.icon-iconfinder_5355692_code_coding_development_programming_web_icon:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-map-pin:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-whatsapp:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
